---
import Header from '../components/Header.jsx'
import Footer from '../components/Footer.jsx'

const siteUrl = import.meta.env.PROD ? Astro.site : 'http://localhost:3000'
const sitePath = Astro.url.pathname
const canonicalURL = new URL(sitePath, siteUrl)
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QQMW5J8R6K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QQMW5J8R6K');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <title>Document</title>
</head>
<body>
    <Header siteUrl={siteUrl} sitePath={sitePath} />

    <Footer siteUrl={siteUrl} />
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>
</html>